rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User's private data - only the owner can read/write
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
  }
}
